@using DenisAccounting.Models.Operations;
@using DenisAccounting.Managers;

@model IEnumerable<OperationViewModel>

<table style="width:100%">
    <tr>
    <td>@Html.ActionLink("Date", "Index", new { sortedby = "Date" })</td>
        <td>@Html.ActionLink("Amount", "Index", new { sortedby = "Amount" })</td>
    <td>Category</td>
    <td>Description</td>
    </tr>
    @foreach (var operation in Model)
    {
        Html.RenderPartial("_operationRow", operation);
    }
</table>