@using DenisAccounting.Models.Operations;
using System.Linq;
using System.Collections.Generic;

@model OperationsListViewModel

<table style="width:100%">
    <tr>
    <td>Date</td>
    <td>Amount</td>
    <td>Category</td>
    <td>Description</td>
    </tr>
    @IEnumerable<OperationViewModel> operations = Model.Operations;
        @foreach (var operation in operations)
        {
            Html.RenderPartial("_operationRow", operation);
        }
</table>