@{
    ViewBag.Title = "Home Page";
}

@model DenisAccounting.Models.Home.IndexViewModel

<div class="jumbotron">
    <h1>Personal Accounting</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Balance</h2>
        <p>
            @Model.Balance
        </p>
    </div>
    <div class="col-md-4">
        <h2>Last 10 Operations</h2>
        <p>
            @{Html.RenderPartial("_operationsTable", Model.Operations);}
        </p>
        </div>
</div>